@model List<Product>
@{
    int CurrentPage = (int)ViewBag.Page;
}
@section topCSS
{
    <link href="~/Assets/css/ProductPage.css" rel="stylesheet" />
}
@section endJS
{
    <script type="text/javascript" src="~/Assets/js/ProductPage.js"></script>
}
<header class="PageHeader">
    <div class="Container">
        <div class="SectionHeader">
            <h1 class="SectionHeader_Heading">@ViewBag.Title</h1>
        </div>
    </div>
</header>

<!--SORT-->
<div id="collection-sort-popover" class="Popover" aria-hidden="true">
    <header class="Popover__Header">
        @*<button class="Popover__Close Icon-Wrapper--clickable"
                    data-action="close-popover">
                <svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
                    <path d="M15 0L1 14m14 0L1 0"
                          stroke="currentColor"
                          fill="none"
                          fill-rule="evenodd"></path>
                </svg>
            </button>*@
        <span class="Popover__Title Heading u-h4">Sort</span>
    </header>

    <div class="Popover__Content">
        <div class="Popover__ValueList" data-scrollable>
            @*<button class="Popover__Value  Heading Link Link--primary u-h6"
                        data-value="manual"
                        data-action="select-value">
                    Featured
                </button>
                <button class="Popover__Value  Heading Link Link--primary u-h6"
                                 data-value="best-selling"
                                 data-action="select-value">
                    Best selling
                </button>*@
            <a href="/Home/ProductsPage/@ViewBag.Category/@CurrentPage" class="Popover__Value  Heading Link Link--primary u-h6"
               data-value="price-descending"
               data-action="select-value">
                Default
            </a>
            <a href="/Home/ProductsPage/@ViewBag.Category/@CurrentPage/Name" class="Popover__Value is-selected Heading Link Link--primary u-h6"
               data-value="title-ascending"
               data-action="select-value">
                Alphabetically, A-Z
            </a>
            <a href="/Home/ProductsPage/@ViewBag.Category/@CurrentPage/Name_desc" class="Popover__Value  Heading Link Link--primary u-h6"
               data-value="title-descending"
               data-action="select-value">
                Alphabetically, Z-A
            </a>
            <a href="/Home/ProductsPage/@ViewBag.Category/@CurrentPage/PriceLowToHigh" class="Popover__Value  Heading Link Link--primary u-h6"
               data-value="price-ascending"
               data-action="select-value">
                Price, low to high
            </a>
            <a href="/Home/ProductsPage/@ViewBag.Category/@CurrentPage/PriceHighToLow" class="Popover__Value  Heading Link Link--primary u-h6"
               data-value="price-descending"
               data-action="select-value">
                Price, high to low
            </a>
            @*<button class="Popover__Value  Heading Link Link--primary u-h6"
                        data-value="created-ascending"
                        data-action="select-value">
                    Date, old to new
                </button>
                <button class="Popover__Value  Heading Link Link--primary u-h6"
                                 data-value="created-descending"
                                 data-action="select-value">
                    Date, new to old
                </button>*@
        </div>
    </div>
</div>


<div class="CollectionMain">
    <div class="ProductItemListWrapper">
        <div id="PIL" class="ProductItemList ">
            @Html.Action("GetProducts", "Home", new { page = CurrentPage, AllProducts = Model })
            <div class="Grid__Cell animated-block" style="display: none;"></div>
        </div>
    </div>

    <div class="Pagination Text--subdued">
        <div class="Pagination__Nav">
            <div class="Pagination__Nav">
                @{
                    int Pages = Convert.ToInt32(Math.Ceiling(Model.Count / 8d));
                }
                @if (CurrentPage > 1)
                {
                    <a class="Pagination__NavItem Link Link--primary"
                       rel="prev"
                       title="Previous page"
                       href="/Home/ProductsPage/@ViewBag.Category.ToString()/@(CurrentPage-1)/@ViewBag.SortOrder.ToString()">
                        <svg class="Icon Icon--select-arrow-left"
                             role="presentation"
                             viewBox="0 0 11 18">
                            <path d="M9.5 1.5L1.5 9l8 7.5"
                                  stroke-width="2"
                                  stroke="currentColor"
                                  fill="none"
                                  fill-rule="evenodd"
                                  stroke-linecap="square"></path>
                        </svg>
                    </a>
                }
                @for (var i = 1; i <= Pages; i++)
                {
                    if (Pages - 1 > 3 && i != 1 && i != Pages)
                    {
                        if (CurrentPage - i == 3 || i - CurrentPage == 3)
                        {
                            <span class="Pagination__NavItem ">&hellip;</span>
                            continue;
                        }
                    }
                    if (i == CurrentPage)
                    {
                        <span class="Pagination__NavItem is-active">@i</span>
                    }
                    else
                    {
                        <a href="/Home/ProductsPage/@ViewBag.Category.ToString()/@i/@ViewBag.SortOrder.ToString()"
                           class="Pagination__NavItem Link Link--primary"
                           title="Navigate to page @i">@i</a>
                    }
                }
                @if (CurrentPage < Pages)
                {
                    <a class="Pagination__NavItem Link Link--primary"
                       rel="next"
                       title="Next page"
                       href="/Home/ProductsPage/@ViewBag.Category.ToString()/@(CurrentPage + 1)/@ViewBag.SortOrder.ToString()">
                        <svg class="Icon Icon--select-arrow-right"
                             role="presentation"
                             viewBox="0 0 11 18">
                            <path d="M1.5 1.5l8 7.5-8 7.5"
                                  stroke-width="2"
                                  stroke="currentColor"
                                  fill="none"
                                  fill-rule="evenodd"
                                  stroke-linecap="square"></path>
                        </svg>
                    </a>
                }
            </div>
        </div>
    </div>

    <!--商品底部選擇器------------------------------------------------------------------------------------------------------->
    <div class="CollectionToolbar CollectionToolbar--bottom CollectionToolbar--reverse">
        <div class="CollectionToolbar__Item CollectionToolbar__Item--layout">
            <div class="CollectionToolbar__LayoutSwitch hidden-tablet-and-up">
                <button aria-label="Show one product per row"
                        class="CollectionToolbar__LayoutType is-active"
                        id="mainoneproducts"
                        data-action="change-layout-mode"
                        data-grid-type="mobile"
                        data-count="1">
                    <svg class="Icon Icon--wall-1"
                         role="presentation"
                         viewBox="0 0 36 36">
                        <rect fill="currentColor" width="36" height="36"></rect>
                    </svg>
                </button>
                <button aria-label="Show two products per row"
                        class="CollectionToolbar__LayoutType"
                        id="maintwoproducts"
                        data-action="change-layout-mode"
                        data-grid-type="mobile"
                        data-count="2">
                    <svg class="Icon Icon--wall-2"
                         role="presentation"
                         viewBox="0 0 36 36">
                        <path fill="currentColor"
                              d="M21 36V21h15v15H21zm0-36h15v15H21V0zM0 21h15v15H0V21zM0 0h15v15H0V0z"></path>
                    </svg>
                </button>
            </div>

            <div class="CollectionToolbar__LayoutSwitch hidden-phone">
                <button aria-label="Show two products per row"
                        id="twoproducts"
                        class="CollectionToolbar__LayoutType "
                        data-action="change-layout-mode"
                        data-grid-type="desktop"
                        data-count="2">
                    <svg class="Icon Icon--wall-2"
                         role="presentation"
                         viewBox="0 0 36 36">
                        <path fill="currentColor"
                              d="M21 36V21h15v15H21zm0-36h15v15H21V0zM0 21h15v15H0V21zM0 0h15v15H0V0z"></path>
                    </svg>
                </button>
                <button aria-label="Show four products per row"
                        id="fourproducts"
                        class="CollectionToolbar__LayoutType is-active"
                        data-action="change-layout-mode"
                        data-grid-type="desktop"
                        data-count="4">
                    <svg class="Icon Icon--wall-4"
                         role="presentation"
                         viewBox="0 0 36 36">
                        <path fill="currentColor"
                              d="M28 36v-8h8v8h-8zm0-22h8v8h-8v-8zm0-14h8v8h-8V0zM14 28h8v8h-8v-8zm0-14h8v8h-8v-8zm0-14h8v8h-8V0zM0 28h8v8H0v-8zm0-14h8v8H0v-8zM0 0h8v8H0V0z"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="CollectionToolbar__Group">
            @*<button class="CollectionToolbar__Item CollectionToolbar__Item--filter Heading Text--subdued u-h6 "
                data-action="open-drawer"
                data-drawer-id="collection-filter-drawer"
                aria-label="Show filters"></button>*@
            <button id="bnt" class="CollectionToolbar__Item CollectionToolbar__Item--sort Heading Text--subdued u-h6"
                    aria-label="Show sort by"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="collection-sort-popover">
                Sort
                <svg class="Icon Icon--select-arrow"
                     role="presentation"
                     viewBox="0 0 19 12">
                    <polyline fill="none"
                              stroke="currentColor"
                              points="17 2 9.5 10 2 2"
                              fill-rule="evenodd"
                              stroke-width="2"
                              stroke-linecap="square"></polyline>
                </svg>
            </button>
        </div>

    </div>

</div>

