@model CartViewModel
@{
    Layout = null;
    var i = 0;
}
<div class="Cart_Head hidden-cart">
    <span class="Cart__HeadItem Heading Text--subdued u-h7">
        商品
    </span>
    <span class="Cart__HeadItem"> </span>
    <span class="Cart__HeadItem Heading Text--subdued u-h7"
          style="text-align: center">
        數量
    </span>
    <span class="Cart__HeadItem Heading Text--subdued u-h7"
          style="text-align: right">
        金額
    </span>
</div>
@foreach (var cartItem in Model.Cart)
{
<div id="CartItem_@i" class="CartItem" value="@cartItem.PDID">
    <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: 1.0">
            <!----aspect-ratio: 1.0-->
            <img class="Cart_Image"
                 src="~/Assets/images/@cartItem.CategoryName/@Model.Images[i]"
                 alt="@cartItem.ProductName" />
        </div>
    </div>

    <div class="CartItem__Info">
        <h2 class="CartItem__Title Heading">
            <a href="/Home/ProductDetailPage/@cartItem.ProductID">@cartItem.ProductName</a>
        </h2>
        <div class="CartItem__Meta Heading Text_subdued">
            <p class="CartItem__Variant">
                @cartItem.ColorName / @cartItem.SizeContext
            </p>
            <ul class="CartItem__PropertyList"></ul>
            <!--空白區塊-->
            <div class="CartItem__PriceList">
                <span class="CartItem__Price Price"
                      data-money-convertible>
                    <span id="UnitPrice_@i" value="@cartItem.UnitPrice">
                        $@(cartItem.UnitPrice.ToString("##,###")) TWD
                    </span>
                </span>
            </div>
            @*<div class="CartItem__Actions Heading Text--subdued"
             style="text-align: center">
            <div class="CartItem__QuantitySelector">
                <div class="QuantitySelector">
                    <a id="cut_@i"
                       class="QuantitySelector__Button Link Link--primary"
                       title="減少數量"
                       data-quantity="0" aria-valuenow="@i">
                        <svg class="Icon Icon--minus"
                             role="presentation"
                             viewBox="0 0 16 2">
                            <path d="M1,1 L15,1"
                                  stroke="currentColor"
                                  fill="none"
                                  fill-rule="evenodd"
                                  stroke-linecap="square"></path>
                        </svg>
                    </a>
                    <input type="text"
                           name="Quantity"
                           id="Quantity_@i"
                           class="QuantitySelector__CurrentQuantity"
                           pattern="[0-9]*"
                           value="@cartItem.Quantity" readonly="readonly" />
                    <a id="add_@i"
                       class="QuantitySelector__Button Link Link--primary"
                       title="增加數量"
                       data-quantity="2" aria-valuenow="@i">
                        <svg class="Icon Icon--plus"
                             role="presentation"
                             viewBox="0 0 16 16">
                            <g stroke="currentColor"
                               fill="none"
                               fill-rule="evenodd"
                               stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="" data-PDID="@cartItem.PDID"
               style="text-decoration:none;"
               class="CartItem__Remove Link Link--underline"
               data-quantity="0"
               data-action="remove-item"
               aria-valuenow="@i">移除</a>
        </div>*@
            @if (Request.Url != new Uri("http://localhost:4559/Cart/ShoppingCart"))    //網址需要改成發行版
            {
                <div class="CartItem__Actions Heading Text--subdued"
                     style="text-align: center">
                    <div class="CartItem__QuantitySelector">
                        <div class="QuantitySelector">
                            <a id="cut_@i"
                               class="QuantitySelector__Button Link Link--primary"
                               title="減少數量"
                               data-quantity="0" aria-valuenow="@i">
                                <svg class="Icon Icon--minus"
                                     role="presentation"
                                     viewBox="0 0 16 2">
                                    <path d="M1,1 L15,1"
                                          stroke="currentColor"
                                          fill="none"
                                          fill-rule="evenodd"
                                          stroke-linecap="square"></path>
                                </svg>
                            </a>
                            <input type="text"
                                   name="Quantity"
                                   id="Quantity_@i"
                                   class="QuantitySelector__CurrentQuantity"
                                   pattern="[0-9]*"
                                   value="@cartItem.Quantity" readonly="readonly" />
                            <a id="add_@i"
                               class="QuantitySelector__Button Link Link--primary"
                               title="增加數量"
                               data-quantity="2" aria-valuenow="@i">
                                <svg class="Icon Icon--plus"
                                     role="presentation"
                                     viewBox="0 0 16 16">
                                    <g stroke="currentColor"
                                       fill="none"
                                       fill-rule="evenodd"
                                       stroke-linecap="square">
                                        <path d="M8,1 L8,15"></path>
                                        <path d="M1,8 L15,8"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <a href="" data-PDID="@cartItem.PDID"
                       style="text-decoration:none;"
                       class="CartItem__Remove Link Link--underline"
                       data-quantity="0"
                       data-action="remove-item"
                       aria-valuenow="@i">移除</a>
                </div>
            }
            @if (Request.Url == new Uri("http://localhost:4559/Cart/ShoppingCart"))    //網址需要改成發行版
            {
                <div class="CartItem__Actions Heading Text--subdued"
                     style="text-align: center">
                    <div class="CartItem__QuantitySelector">
                        <div class="QuantitySelector">
                            <a id="cut_@i"
                               class="QuantitySelector__Button Link Link--primary"
                               title="減少數量"
                               data-quantity="0" aria-valuenow="@i">
                                <svg class="Icon Icon--minus"
                                     role="presentation"
                                     viewBox="0 0 16 2">
                                    <path d="M1,1 L15,1"
                                          stroke="currentColor"
                                          fill="none"
                                          fill-rule="evenodd"
                                          stroke-linecap="square"></path>
                                </svg>
                            </a>
                            <input type="text"
                                   name="Quantity"
                                   id="Quantity_@i"
                                   class="QuantitySelector__CurrentQuantity"
                                   pattern="[0-9]*"
                                   value="@cartItem.Quantity" readonly="readonly" />
                            <a id="add_@i"
                               class="QuantitySelector__Button Link Link--primary"
                               title="增加數量"
                               data-quantity="2" aria-valuenow="@i">
                                <svg class="Icon Icon--plus"
                                     role="presentation"
                                     viewBox="0 0 16 16">
                                    <g stroke="currentColor"
                                       fill="none"
                                       fill-rule="evenodd"
                                       stroke-linecap="square">
                                        <path d="M8,1 L8,15"></path>
                                        <path d="M1,8 L15,8"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <a href="" data-PDID="@cartItem.PDID"
                       style="text-decoration:none;"
                       class="CartItem__Remove Link Link--underline"
                       data-quantity="0"
                       data-action="remove-item"
                       aria-valuenow="@i">移除</a>
                </div>
            }
        </div>

    </div>
    <div class="CartItem__Actions Heading Text--subdued"
         style="text-align: center">
        <div class="CartItem__QuantitySelector">
            <div class="QuantitySelector">
                <a id="cut_@i"
                   class="QuantitySelector__Button Link Link--primary"
                   title="減少數量"
                   data-quantity="0" aria-valuenow="@i">
                    <svg class="Icon Icon--minus"
                         role="presentation"
                         viewBox="0 0 16 2">
                        <path d="M1,1 L15,1"
                              stroke="currentColor"
                              fill="none"
                              fill-rule="evenodd"
                              stroke-linecap="square"></path>
                    </svg>
                </a>
                <input type="text"
                       name="Quantity"
                       id="Quantity_@i"
                       class="QuantitySelector__CurrentQuantity"
                       pattern="[0-9]*"
                       value="@cartItem.Quantity" readonly="readonly" />
                <a id="add_@i"
                   class="QuantitySelector__Button Link Link--primary"
                   title="增加數量"
                   data-quantity="2" aria-valuenow="@i">
                    <svg class="Icon Icon--plus"
                         role="presentation"
                         viewBox="0 0 16 16">
                        <g stroke="currentColor"
                           fill="none"
                           fill-rule="evenodd"
                           stroke-linecap="square">
                            <path d="M8,1 L8,15"></path>
                            <path d="M1,8 L15,8"></path>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <a href="" data-PDID="@cartItem.PDID"
           style="text-decoration:none;"
           class="CartItem__Remove Link Link--underline"
           data-quantity="0"
           data-action="remove-item"
           aria-valuenow="@i">移除</a>
    </div>
    <span id="pc"
          class="CartItem__LinePrice Price Heading Text--subdued u-h7"
          style="text-align: right">
        <span id="">$@cartItem.UnitPrice.ToString("##,###") TWD</span>
    </span>
</div>
     
    i++;
 }
