@using ANVI_Mvc.Services
@{
    var currentCart = CartService.GetCurrentCart();
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anvi</title>

    @*
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    <!-- bootstrap 4.2.1 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC|Titillium+Web" rel="stylesheet"> -->
    <!-- google字體 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- fontawesome -->
    <link href="~/Assets/css/header-styles.css" rel="stylesheet" />
    <!-- CSS檔引入 -->
    <link rel="shortcut icon" href="~/Assets/images/Logo/ANVI_FAVICON_32x32.png" type="image/png">
    @RenderSection("topCSS", false)
    @RenderSection("topJS", false)
    <link href="~/Assets/css/footer.css" rel="stylesheet" />

</head>
<body>
    <div class="topnews">全台免運費 | 海外滿 $4500 免運費</div>
    <div id="header">
        <div class="topnemu">
            <div class="topnemulineone">
                <ul class="SocialList">
                    <li class="SListItem">
                        <a href="https://www.facebook.com/anvistudios" class="" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="SListItem">
                        <a href="https://instagram.com/anvistudios" class="" target="_blank" rel="noopener" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>

                <a href="/Home/index">
                    <div class="LogoImage LogoImage--primaty" src=""></div>
                </a>

                <!-- 圖片記得改響應式 -->
                <div class="userlist">

                    <nav class="topnemulineone">
                        <ul class="lineonelist">
                            <li class="account"> <a href="/Home/AccountPage">帳號</a></li>
                            <li class="search"><a href="/Search/SearchIndex">搜尋</a></li>
                            <li class="cart"> <a href="/Cart/ShoppingCart">購物車(<snap class="header_cartcount">@currentCart.Count</snap>)</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <nav class="topnemulinetwo">

                <ul class="linetwolist">
                    <li class="shop"><a href="/Home/ProductsPage">商店<div class="listspan"></div><span class="lineofselect"></span></a></li>
                    <li class="new"><a href="/Home/ProductsPage">最新到貨<div class="listspan"></div><span class="lineofselect"></span></a></li>
                    <li class="about_us"><a href="#">About<div class="listspan"></div><span class="lineofselect"></span></a></li>
                </ul>
            </nav>
            <div class="MenuList">
                @* <<暫時先忽略 *@
                <div class="MegaMenu__">
                    <div class="MegaMenu__Item">
                        <a href="#" class="class">全部</a>
                        <ul class="">
                            <li class="">
                                <a href="#" class="">發燒新品</a>
                            </li>
                            <li class="">
                                <a href="#" class="">人氣商品</a>
                            </li>
                            <li class="">
                                <a href="#" class="">SALE</a>
                            </li>
                        </ul>
                    </div>
                    <div class="MegaMenu__Item">
                        <a href="#" class="class">類別</a>
                        <ul class="">
                            <li class="">
                                <a href="/Category/Bracelets" class="bra">手環</a>
                            </li>
                            <li class="">
                                <a href="/Category/EarRings" class="ear">耳環</a>
                            </li>
                            <li class="">
                                <a href="/Category/Necklaces" class="neck">項鍊</a>
                            </li>
                            <li class="">
                                <a href="/Category/Rings" class="rain">戒指</a>
                            </li>
                        </ul>
                    </div>

                    <div class="MegaMenu__Item">

                        <div class="MegaMenu__Push ">
                            <div class="MegaMenu__PushImageWrapper product__categories AspectRatio">

                            </div>
                            <span class="Image__Loader"></span>
                            @*<p class="MegaMenu__PushHeading h6 product__h6">手鍊</p>*@
                        </div>
                    </div>
                    <div class="MegaMenu__Item">

                        <div class="MegaMenu__Push ">
                            <div class="MegaMenu__PushImageWrapper AspectRatio">

                            </div>
                            <span class="Image__Loader"></span>
                            <p class="MegaMenu__PushHeading h6">ANVI GIRL 摩登，經典，優雅的存在</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @RenderBody()

    <div id="shopify-section-footer" class="shopify-section shopify-section--footer">
        <footer id="section-footer" class="Footer  " role="contentinfo">
            <div class="Container">
                <div class="Footer__Block Footer__Block--text">
                    <h2 class="Footer__Title Heading u-h6">關於ANVI</h2>
                    <div class="Footer__Content Rte">
                        <p>
                            ANVI Studios為新創銀飾品牌，專為對於品味與時尚有所追求的女性，打造極簡、質感、富含女性魅力的精緻飾品。
                        </p>
                        <p>
                            ANVI相信每位女性都有天生魅力、個人風格，而表態就該由天天配戴的飾品開始。ANVI Studios承襲多年的精品工藝，擅長製作頂尖質感，揉合現代設計風格與時尚外型，為女人畫龍點睛，高貴飾品不該只放在展間，應以合理售價取得並作為日常不可或缺的單品。
                        </p>
                        <p>ANVI Girl為摩登、經典、優雅的代名詞。</p>
                    </div>
                </div>
            </div>
            <div class="Footer__Block Footer__Block--links">
                <div class="Container">

                    <h2 class="Footer__Title Heading u-h6">Main Footer menu</h2>

                    <ul class="Linklist">
                        <li class="Linklist__Item">
                            <a href="/pages/shipping" class="Link Link--primary">運送須知</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/returns" class="Link Link--primary">退/換貨須知</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/privacy" class="Link Link--primary">隱私政策</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/terms-and-conditions" class="Link Link--primary">服務條款</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/contact" class="Link Link--primary">聯絡我們</a>
                        </li>
                    </ul>
                    <div class="linebot__text">
                        <h2 class="Footer__Title Heading u-h6">  加入我們LINE得知更多小道消息吧!</h2>

                    </div>
                </div>
            </div>
        </footer>
        <div class="Footer__end">
            <a href="https://www.anvistudios.com" class="Footer__StoreName Heading u-h7 Link Link--secondary">© ANVI | 日常輕珠寶成就女性迷人魅力</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--header-->
    <script>
        $(function () {
            $(".shop").hover(function () {
                $(".MenuList").css("visibility", "visible");
            });
        });

        $(function () {
            $(".new").hover(function () {
                $(".MenuList").css("visibility", "hidden");
            });
        });
        $(function () {
            $(".about_us").hover(function () {
                $(".MenuList").css("visibility", "hidden");
            });
        });

        $(function () {
            $(".MenuList").hover(function () {
                $(".MenuList").css("visibility", "visible");
            }, function () {
                $(".MenuList").css("visibility", "hidden");
            });
        });
        $(function () {
            $(".topnemu").hover(function () {

            }, function () {
                $(".MenuList").css("visibility", "hidden");
            });
        });

        $(function () {
            $(".bra").hover(function () {
                $(".product__categories").css("background-image", "url(/Assets/images/Bracelets/2_fae8f255-1152-4a34-8c7b-54b8f3033a87_900x.jpg)");
            });
        });
        $(function () {
            $(".ear").hover(function () {
                $(".product__categories").css("background-image", "url(/Assets/images/EarRings/G3_a94660c7-92de-46e5-966d-617f55f9d59e_900x.jpg)");
            });
        });
        $(function () {
            $(".neck").hover(function () {
                $(".product__categories").css("background-image", "url(/Assets/images/Necklaces/3_3_2e459b5c-083d-4682-9861-2718a9292092_900x.jpg)");
            });
        });
        $(function () {
            $(".rain").hover(function () {
                $(".product__categories").css("background-image", "url(/Assets/images/Rings/1_0fe82ab3-bb99-4711-96c4-b47f2b1d25ac_900x.jpg)");
            });
        });
        //應該要寫一個語法合併上面

        //這邊下面寫滾動卷軸動作
        $(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 15) {
                    $('#header').addClass('fixed');



                } else {
                    $('#header').removeClass('fixed');


                }
            });
        });
    </script>

    <!-- 網頁變數 -->
    <script>
        /* 網頁變數 */
        browser_window();
        window.addEventListener("resize", browser_window);

        function browser_window() {
            document.documentElement.style.setProperty("--window-height", window.innerHeight + "px");

            document.documentElement.style.setProperty("--announcement-bar-height", document.getElementsByClassName("topnews")[0].offsetHeight + "px");

            document.documentElement.style.setProperty("--header-height", document.getElementById("header").offsetHeight + "px");
        }
    </script>
    @RenderSection("endJS", false)

    @*---------------------讀進LineBot----------------------*@
    <script src="~/Assets/js/ChatBot.js"></script>

</body>
</html>

