@model IEnumerable<ANVI_Mvc.Models.Color>

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "顏色";
}

    <h2>顏色</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Colors")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Colors", new { id=item.ColorID }, new { @class = ""}) |
            @Html.ActionLink("Details", "Details", "Colors", new { id=item.ColorID }, new { @class = ""}) |
            @Html.ActionLink("Delete", "Delete", "Colors", new { id=item.ColorID }, new { @class = ""})
        </td>
    </tr>
}

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            int previous = (int)ViewData["PageActive"];
            int next = (int)ViewData["PageActive"];
            if ((int)ViewData["PageActive"] != 1)
            {
                --previous;
            }
            if((int)ViewData["PageActive"] != (int)ViewData["Pages"])
            {
                ++next;
            }
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllColor/@previous">Previous</a></li>
        @for (int i = 1; i <= (int)ViewData["Pages"]; i++)
        {
            string active = i == (int)ViewData["PageActive"] ? "active" : "";

            <li class="page-item @active"><a class="page-link" href="/BackSystem/ListAllColor/@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllColor/@next">Next</a></li>
    </ul>
</nav>