@model IEnumerable<ANVI_Mvc.Models.Order>

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "訂單";
    int i = 0;    
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>訂單</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">訂單</a></li>
                    <li class="active">訂單<li>
</ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <p>
                            @Html.ActionLink("Create New", "Create", "Orders")
                        </p>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table-export_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc text-center" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" @Html.DisplayNameFor(model => model.OrderID): activate to sort column descending" style="width:52px; text-align:center;">
                                        @Html.DisplayNameFor(model => model.OrderID)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.AspNetUser.Id): activate to sort column ascending" style="width: 184px;">
                                        @Html.DisplayNameFor(model => model.AspNetUser.Id)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(model => model.AspNetUser.Name): activate to sort column ascending" style="width: 280px;">
                                        @Html.DisplayNameFor(model => model.AspNetUser.Name)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.AspNetUser.Email): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.RecipientName)): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.RecipientName)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.RecipientPhone)): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.RecipientPhone)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.RecipientZipCod): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.RecipientZipCod)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.RecipientCity): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.RecipientCity)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.RecipientAddressee): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.RecipientAddressee)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.Payment): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.Payment)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.OrderDate): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.OrderDate)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.ShipDate): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.ShipDate)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.Shipper.ShippName): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.Shipper.ShippName)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label=" @Html.DisplayNameFor(model => model.Remaeks): activate to sort column ascending" style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.Remaeks)
                                    </th>
                                    <th class="sorting" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    string classstring = string.Empty;
                                    if (i % 2 == 0)
                                    {
                                        classstring = "role=\"row\" class=\"even\"";
                                    }
                                    else
                                    {
                                        classstring = "role=\"row\" class=\"odd\"";
                                    }
                                    <tr @classstring>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecipientName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecipientPhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecipientZipCod)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecipientCity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecipientAddressee)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShipDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shipper.ShippName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remaeks)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", "Orders", new { id = item.OrderID }, new { @class = "" }) |
                                            @Html.ActionLink("Details", "Details", "Orders", new { id = item.OrderID }, new { @class = "" }) |
                                            @Html.ActionLink("Delete", "Delete", "Orders", new { id = item.OrderID }, new { @class = "" })
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>

@section endJS{

    <script src="~/Assets/BackSystem/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/BackSystem/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Assets/BackSystem/assets/js/init-scripts/data-table/datatables-init.js"></script>
}

@*<h2>訂單</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Orders")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientZipCod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientAddressee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipper.ShippName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remaeks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientZipCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientAddressee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipper.ShippName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remaeks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Orders", new { id = item.OrderID }, new { @class = "" }) |
                @Html.ActionLink("Details", "Details", "Orders", new { id = item.OrderID }, new { @class = "" }) |
                @Html.ActionLink("Delete", "Delete", "Orders", new { id = item.OrderID }, new { @class = "" })
            </td>
        </tr>
    }

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            int previous = (int)ViewData["PageActive"];
            int next = (int)ViewData["PageActive"];
            if ((int)ViewData["PageActive"] != 1)
            {
                --previous;
            }
            if ((int)ViewData["PageActive"] != (int)ViewData["Pages"])
            {
                ++next;
            }
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllOrder/@previous">Previous</a></li>
        @for (int i = 1; i <= (int)ViewData["Pages"]; i++)
        {
            string active = i == (int)ViewData["PageActive"] ? "active" : "";

            <li class="page-item @active"><a class="page-link" href="/BackSystem/ListAllOrder/@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllOrder/@next">Next</a></li>
    </ul>
</nav>*@
