@model IEnumerable<ANVI_Mvc.Models.AspNetUser>

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "帳戶管理";
}

<h2>帳戶管理</h2>

<p>
    @Html.ActionLink("Create New", "Create", "AspNetUsers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "AspNetUsers", new { id=item.Id }, new { @class = "" }) |
            @Html.ActionLink("Details", "Details", "AspNetUsers", new { id=item.Id }, new { @class = "" }) |
            @Html.ActionLink("Delete", "Delete", "AspNetUsers", new { id=item.Id }, new { @class = "" })
        </td>
    </tr>
}

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            int previous = (int)ViewData["PageActive"];
            int next = (int)ViewData["PageActive"];
            if ((int)ViewData["PageActive"] != 1)
            {
                --previous;
            }
            if ((int)ViewData["PageActive"] != (int)ViewData["Pages"])
            {
                ++next;
            }
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllIdentityModels/@previous">Previous</a></li>
        @for (int i = 1; i <= (int)ViewData["Pages"]; i++)
        {
            string active = i == (int)ViewData["PageActive"] ? "active" : "";

            <li class="page-item @active"><a class="page-link" href="/BackSystem/ListAllIdentityModels/@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="/BackSystem/ListAllIdentityModels/@next">Next</a></li>
    </ul>
</nav>