@model ANVI_Mvc.Models.Size

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Details";
}
@section topCSS
{
    <link href="~/Assets/BackSystem/assets/css/CRUD-style.css" rel="stylesheet" />
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>產品</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">產品</a></li>
                    <li><a href="/BackSystem/ListAllSize">尺寸</a></li>
                    <li class="active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Details <strong>尺寸</strong>
    </div>
    <div class="card-body card-block">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SizeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SizeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SizeTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SizeTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SizeContext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SizeContext)
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.SizeID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


@*<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeContext)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SizeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
