@model ANVI_Mvc.Models.Size

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeContext)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SizeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
