@model ANVI_Mvc.Models.Product

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Delete";
}
@section topCSS
{
    <link href="~/Assets/BackSystem/assets/css/CRUD-style.css" rel="stylesheet" />
}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>產品</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">產品</a></li>
                    <li><a href="/BackSystem/ListAllProduct">產品</a></li>
                    <li class="active">Delete</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Delete <strong>產品</strong>
    </div>
    <div class="card-body card-block">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

        </dl>
        <div class="Segment__ButtonWrapper">
            <a href="/account/addresses"
               class="btn btn-outline-secondary btn-lg btn-block"
               data-toggle="modal"
               data-target="#Dcn">
                Confirm
            </a>

            <div id="Dcn"
                 class="modal right fade bd-example-modal-xl"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="myExtraLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <h3>Are you sure you want to delete this?</h3>
                            <div class="form-actions no-color">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProductID)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ProductID)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ProductName)
                                </dd>
                                <br />
                                <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


@*<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@