@model ANVI_Mvc.Models.ProductDetail

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PDID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.SizeContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.SizeContext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PDID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
