@model ANVI_Mvc.Models.Shipper

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Details";
}
@section topCSS
{
    <link href="~/Assets/BackSystem/assets/css/CRUD-style.css" rel="stylesheet" />
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>訂單</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">訂單</a></li>
                    <li><a href="/BackSystem/ListAllShipper">物流</a></li>
                    <li class="active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Details <strong>物流</strong>
    </div>
    <div class="card-body card-block">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShipperID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipperID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShippName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ShipperID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@*<h2>Details</h2>

<div>
    <h4>Shipper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipperID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipperID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
