@model ANVI_Mvc.Models.DesDetail

@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DesDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DDID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DDID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
